<!DOCTYPE HTML>
<html>
    <head>
        <title>Famous Bird</title>
        <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon" href="static-projects/flappy-bird/content/images/apple_touch_icon.png"/>
        <link rel="shortcut icon" href="static-projects/flappy-bird/favicon.ico" type="image/x-icon">
        <link rel="icon" href="static-projects/flappy-bird/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-startup-image" href="static-projects/flappy-bird/content/images/startup.png">

        <!--CORE CSS-->
        <link rel="stylesheet" type="text/css" href="static-projects/flappy-bird/css/app.css" />
        <link rel="stylesheet" type="text/css" href="static-projects/flappy-bird/css/game.css" />
        <link rel="stylesheet" type="text/css" href="static-projects/flappy-bird/css/famous.css" />

        <!--CORE SCRIPTS-->
        <script type="text/javascript" src="static-projects/flappy-bird/js/lib/functionPrototypeBind.js"></script>
        <script type="text/javascript" src="static-projects/flappy-bird/js/lib/classList.js"></script>
        <script type="text/javascript" src="static-projects/flappy-bird/js/lib/Promise.min.js"></script>
        <script type="text/javascript" src="static-projects/flappy-bird/js/lib/requestAnimationFrame.js"></script>
        <script type="text/javascript" src="static-projects/flappy-bird/js/lib/require.js" data-main="static-projects/flappy-bird/js/app"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <div id="contextContainer"></div>
    </body>
</html>
