<!DOCTYPE HTML>
<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="/famous-dependencies/css/app.css" /> -->
    </head>
    <body>
        <% for(var i = 0; i < examples.length; i++) { %>
            <a href="/university/<%= examples[i] %>">Example <b><%= examples[i] %></b></a> <br>
        <% } %>
    </body>
</html>
